<header>
  <a
    style="
        font: normal 12px sans-serif;
        background-color: white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: blue;
        border: 1px solid black;
        padding: 5px;
        border-radius: 4px;
        left: 5px;
        display: inline-block;
        text-decoration: none;
      "
    href="https://www.youtube.com/@WebDevUnlimited"
    target="_blank"
    class="yt-badge"
    >&#9654; @WebDevUnlimited • Tech Videos</a
  >
  <div (click)="toggleProfilePanel()" class="profile-pic">
    <img
      src="https://e7.pngegg.com/pngimages/653/612/png-clipart-lorem-ipsum-john-doe-digital-marketing-tincidunt-a-place-i-called-home-face-head-man-miscellaneous-hand-thumbnail.png"
    />
  </div>
</header>
