#angular-spa {
  height: 100vh;
}
p {
    font-family: Lato;
  }
  #content {
    background-color: #ffffff;
    position: fixed;
    margin-top: 70px;
    height: calc(100vh - 70px);
    width: 100%;
  }
  .no-scroll {
    height: 100vh !important;
  }
  #header {
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #313b3f;
    z-index: 9999;
    transition: all .3s;
}
.header-scroll {
  opacity: .5;
  height: 30px !important;
}
.transparent-bg {
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  transition: all .3s;
}
.show-bg {
  background-color: rgba(0,0,0,.7) !important;
  visibility: visible;
}
  